{% extends "foretag/base.html"%}
{% load registerfilter %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Main Menu</h1>
{% if user.is_authenticated %}
<h2>{{ user }}</h2>
{% endif %}
{% if request.user|has_group:"Customer" %}
<p>404 lol</p>
{% else %}
  <form  method=POST enctype="multipart/form-data">
  {% csrf_token %}
    <div>
      <label for="image" class="form-label">Upload Ad</label>
      <input type="file" accept="image/png" name="image">
    </div>
    <div>
      <label for="title" class="form-label">Ad Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div>
      <label for="desc" class="form-label">Ad Desc</label>
      <input type="text" class="form-control" name="desc">
    </div>

      <input type="submit" , value="Submit" class="btn btn-secondary">
  </form>
{% endif %}
{% endblock %}